.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav {
  position: absolute;
  left: 0px;
  width: 220px;
  height: 100%;
  border-right: 1px solid #ccc;
  background-color: rgb(53, 64, 82);
}

.article {
  margin-left: 220px;
  height: 100%;
  padding-top: 60px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
}

.section {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #CFCFCF;;
}

.headerRight {
  float: right;
}

.logoWrapper {
  margin: 30px auto;
  width: 131px;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.navItem {
  display: block;
  padding: 10px 15px 10px 25px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navItem.selected {
  box-shadow: 4px 0 0 #15A4F4 inset;
  background-color: #262E3D;
}

.navItem:hover {
  background-color: #262E3D;
}

.navItem .icon {
  font-size: 14px;
}

.navItem .name {
  margin-left: 10px;
  font-weight: bold;
}