.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav {
  position: absolute;
  left: 0px;
  width: 220px;
  height: 100%;
  border-right: 1px solid #ccc;
  background-color: rgb(53, 64, 82);
}

.article {
  margin-left: 220px;
  height: 100%;
}

.logoWrapper {
  margin: 30px auto;
  width: 131px;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #CFCFCF;;
}

.section {
  
}

.headerRight {
  float: right;
}