.list {
  font-family: Georgia, Times, 'Times New Roman', serif;
  padding-left: 1.75em;
}

.listItem {
  margin: 1em 0;
}

.listItemTitle {
  font-weight: bold;
}

.container {
  background-color: rgb(53, 64, 82);
  padding-top: 170px;
  height: 100%;
}

.inputCommon {
  padding: 0 15px;
  width: 200px;
  height: 44px;
  border: none;
}

.inputUsername {
  background-color: white;
  border-radius: 4px 4px 0 0!important;
  margin-bottom: 1px;
  outline: 0;
}

.inputPassword {
  background-color: white;
  border-radius: 0 0 4px 4px!important;
  outline: 0;
}

.center {
  width: 200px;
  margin: 0 auto;
}

.logoWrapper {
  display: block;
  margin-bottom: 50px;
}