/* Global styles */

html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

:global(#app) {
  background-color: white;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%
}

.logoWrapper {
  padding: 2em 0;
}

.logo {
  margin: 0 auto;
  display: block;
}

.normalFont {
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.tableContainer {
  overflow: auto;
}

.table {
  width: 100%;
}

.tableHeader {
  background: #E3EAF3;
  border-radius: 4px;
}

.tableHeaderItem {
  height: 40px;
  padding: 0 10px;
  text-align: left;
  white-space: nowrap;
}

.tableRowHighlight {
  background-color: #ebf2f9;
}

.tableRowNormal:hover {
  background-color: #F5F5F5;
}

.tableRowNormal {
  background-color: #fff;
}

.tableRowNormal:nth-of-type(odd) {
  background-color: #F9F9F9;
}

.tableRow>td {
  height: 40px;
  padding: 0 10px;
  color: #747982;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailPage {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
  padding-top: 150px;
  box-shadow: -5px 0 0 rgba(0,0,0,.07);
}

.detailPageHeader {
  position: absolute;
  width: 100%;
  top: 0;
  height: 150px;
  background: #354052;
  color: #fff;
  padding: 20px;
}

.detailPageClose {
  color: #aaa;
  cursor: pointer;
  float: right;
}

.detailPageClose:hover {
  color: #fff;
}

.pagination {
  float: right;
}

.paginationButton {
  outline: 0;
  background-color: #A9B2BD;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: none;
  margin-right: 1px;
  transition: all 70ms linear 0s;
  cursor: pointer;
}

.paginationButton.left {
  border-radius: 4px 0 0 4px;
}

.paginationButton.right {
  border-radius: 0 4px 4px 0;
}

.paginationButton:hover {
  background-color: #99A4B1;
}

.defaultButton {
  padding: 6px 12px 6px 12px;
  color: white;
  border-radius: 4px;
  background-color: #33BECC;
}

.normalButton {
  padding: 6px;
  color: white;
  border-radius: 4px;
  background-color: #99A4B1;
}